/* 🔸 Efecto hover/click en filas de proyectos */
.projects-list tr {
  border-bottom: 1px solid #E4E2E2;
  transition: all 0.25s ease;
}

.projects-list tr:hover,
.projects-list tr:active {
  background-color: #E4E2E2;
  color: #000;
}

.projects-list tr:hover td,
.projects-list tr:active td {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 1.5em;   /* ⬅️ más espacio a izquierda */
  padding-right: 1.5em;  /* ➡️ más espacio a derecha */
  transition: all 0.25s ease;
}

/* Mantiene el color correcto de los textos durante el hover */
.projects-list tr:hover td:first-child,
.projects-list tr:active td:first-child,
.projects-list tr:hover td:last-child,
.projects-list tr:active td:last-child {
  color: #000;
}
